.Product h1 {
    margin-top: 5px;
    font-size: 1.8em;
}

.Product code {
    font-size: 1.3em;
    vertical-align: middle;
}

.ProductCustomersList table.ui {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-left: 0;
    border-right: 0;
}
