.ui.vertical.stripe {
    padding: 4em 0em;
}

.ui.footer.segment {
    padding: 4em 0em;
}

.AppMain {
  display: flex;
  min-height: 84vh;
  flex-direction: column;
}

.App > .AppFooter {
  flex: 1;
}
