.ui.vertical.stripe {
    padding: 2.5em 0em 4em 0;
}

.AppMain {
  display: flex;
  min-height: 84vh;
  flex-direction: column;
}

.AppHeader .ui.menu {
    border-radius: 0;
}

.AppHeader > .menu .item.active:before,
.AppHeader .menu.right .item:last-of-type:after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 1px;
    background: rgba(34,36,38,.1);
}

.App > .AppFooter {
  flex: 1;
}

.AppFooter span {
    color: rgba(225,225,225,.3);
}

.ui.footer.segment {
    padding: 2.5em 0em;
}
