.ui.table tfoot tr th {
    font-weight: bold;
}

.ui.segment.table-wrapper {
    padding: 0;
}

.Dashboard .ui.table th.Photo-cell,
.Products .ui.table th.Photo-cell {
    width: 55px;
    text-align: center;
}

.Dashboard th.Photo-cell i,
.Products th.Photo-cell i {
    margin-left: 4px;
}

.Dashboard td.Photo-cell img,
.Products td.Photo-cell img {
    width: 100%;
    margin: -4px 0 -8px 0;
}

.Product img {
    width: 100%;
    margin: 3px 0px 3px 0px;
}
