.ui.table tfoot tr th {
    font-weight: bold;
}

.ui.segment.table-wrapper {
    padding: 0;
}

.Dashboard .ui.table th.Photo-cell,
.Products .ui.table th.Photo-cell {
    width: 58px;
    text-align: center;
}

.Products th.Photo-cell i {
    margin-left: 3px;
}

.Dashboard td.Photo-cell img,
.Products td.Photo-cell img {
    height: 45px;
    margin: -2px -3px -7px -3px;
}

.Product img {
    height: 355px;
    margin: 8px 5px;
}
