---
# Takes the version of elastic-apm-node in the package-lock.json file and creates a tag
# if the tag does not exist yet.
name: create-tag

on:
  push:
    branches:
      - main
    paths:
      - package.json

permissions:
  contents: read

jobs:
  tag:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0 # also fetch tags

      - name: Get token
        id: get_token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ secrets.OBS_AUTOMATION_APP_ID }}
          private-key: ${{ secrets.OBS_AUTOMATION_APP_PEM }}
          permission-contents: write

      - run: make create-release
        env:
          GH_TOKEN: ${{ steps.get_token.outputs.token }}
